/* playBox.css */

/* #playBox ================================== */
#playBox {
  width: 100%; height: 720px;
  background-image: url("../../../../img/tlj_franchise_web_img/playBox/tlj_cafe.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}





















