/* playBox768.css */

@media screen and (min-width: 30.0625rem) and (max-width: 48rem) {

/* #playBox ================================== */
#playBox {height: 25rem;}

  /* .add_banner 영역 ---- */
  .banner {display: block;}

}