/* shopBox1366.css */

@media screen and (min-width: 64.0625rem) and (max-width: 85.375rem) {

/* #shopBox ================================== */
#shopBox {
  padding: 5.124450vw 0; /* 70/1366*100 */
  height: 20rem;
}

  #shopBox > a {width: 50rem;}

    #shopBox dl {
      padding: 4rem 0;
      width: 37.5rem;
    }

      #shopBox dt {font-size: 1.6rem;}
      #shopBox dd {
        margin-top: 8.875rem;
        font-size: 1.3rem;
      }

}