/* shopBox480.css */

@media screen and (max-width: 480px) {
  
/* #shopBox ================================== */
#shopBox {
  padding: 8.333333vw /* 40/480*100 */ 0 10.416666vw /* 50/480*100 */;
  height: 80px;
}

  #shopBox > a {width: 280px;}

    #shopBox dl {
      padding: 4px 0;
      width: 190px;
    }

      #shopBox dt {font-size: 0.9rem;}
      #shopBox dd {
        margin-top: 40px;
        font-size: 0.75rem;
      }


}