/* cjBox1024.css */
/* 동영상 재생 안함 사진 대체 */

@media screen and (min-width: 48.0625rem) and (max-width: 64rem) {

/* #cjBox ==================================== */
/*#cjBox {display: none;}*/
  .family {width: 44.875rem;}

    .family > li {
      margin-right: 0.6875rem;
      width: 3.5rem; height: 3.125rem;
    }

    .family > li:nth-child(2)  {width: 2.25rem;}
    .family > li:nth-child(3)  {width: 2.875rem;}
    .family > li:nth-child(4)  {width: 2.875rem; background-position-y: 0.9375rem;}
    .family > li:nth-child(5)  {width: 4.5rem;}
    .family > li:nth-child(6)  {width: 2.375rem;}
    .family > li:nth-child(7)  {background-position-y: 0.5625rem;}
    .family > li:nth-child(8)  {width: 3.75rem;}
    .family > li:nth-child(9)  {width: 6.875rem; background-position-y: 1rem;}
    .family > li:nth-child(10) {width: 5.75rem;}


}