/* cjBox1366.css */

@media screen and (min-width: 1025px) and (max-width: 1366px) {

/* #cjBox ==================================== */

  .family {width: 972px;}

    .family > li {
      margin-right: 20px;
      width: 74px; height: 60px;
    }

    .family > li:nth-child(2)  {width: 54px;}
    .family > li:nth-child(3)  {width: 64px;}
    .family > li:nth-child(4)  {width: 64px; background-position-y: 16px;}
    .family > li:nth-child(5)  {width: 90px;}
    .family > li:nth-child(6)  {width: 56px;}
    .family > li:nth-child(7)  {background-position-y: 8px;}
    .family > li:nth-child(8)  {width: 78px;}
    .family > li:nth-child(9)  {width: 128px; background-position-y: 18px;}
    .family > li:nth-child(10) {width: 110px;}

}
