/* proBox1024.css */

@media screen and (min-width: 48.0625rem) and (max-width: 64rem) {

/* #proBox =================================== */
#proBox {padding-bottom: 6.25rem;}

      #proBox a {
        font-size: 1.8rem;
        padding-top: 10.742187vw; /* 110/1024*100 */
      }

  /* pro_01 ------------- */
  .pro_01 {height: 25.390625vw; /* 260/1024*100 */}

  /* pro_02 ------------- */
  .pro_02 {float: none; width: 100%; height: 25.390625vw; /* 260/1024*100 */}

    #proBox .pro_02 > li:nth-child(3) {background-position: top;}

  /* pro_03 ------------- */
  .pro_03 {float: none; width: 100%; height: 25.390625vw; /* 260/1024*100 */}

    #proBox .pro_03 > li:nth-child(2) {background-position-y: -9.765625vw; /* -100/1024*100 */}

      #proBox .pro_03 > li:nth-child(2) > a {padding-top: 8.789062vw; /* 90/1024*100 */}

}