/* proBox768.css */

@media screen and (min-width: 30.0625rem) and (max-width: 48rem) {

/* #proBox =================================== */
#proBox {padding-bottom: 0.0625rem;}

      #proBox a {
        font-size: 1.8rem;
        padding-top: 18.75vw; /* 144/768*100 */
      }

  /* pro_01 ------------- */
  .pro_01 {height: 42.96875vw; /* 330/768*100 */}

    .pro_01 > li {
      width: -webkit-calc(100% / 2);
      width: -moz-calc(100% / 2);
      width: -ms-calc(100% / 2);
      width: -o-calc(100% / 2);
      width: calc(100% / 2);
    }

  /* pro_02 ------------- */
  .pro_02 {float: none; width: 100%; height: 42.96875vw; /* 330/768*100 */}

    #proBox .pro_02 > li:nth-child(3) {background-position: top;}

  /* pro_03 ------------- */
  .pro_03 {float: none; width: 100%; height: 42.96875vw; /* 330/768*100 */}

    #proBox .pro_03 > li:nth-child(2) {background-position-y: -3.90625vw; /* -30/768*100 */}

      #proBox .pro_03 > li:nth-child(2) > a {padding-top: 16.145833vw; /* 124/768*100 */}

}