/* proBox1366.css */

@media screen and (min-width: 64.0625rem) and (max-width: 85.375rem) {

/* #proBox =================================== */
#proBox {padding-bottom: 8.125rem;}

      #proBox a {
        font-size: 1.8rem;
        padding-top: 9.516837vw; /* 130/1366*100 */
      }

  /* pro_01 ------------- */
  .pro_01 {height: 21.961932vw; /* 300/1366*100 */}

  /* pro_02 ------------- */
  .pro_02 {height: 21.961932vw; /* 300/1366*100 */}

  /* pro_03 ------------- */
  .pro_03 {height: 21.961932vw; /* 300/1366*100 */}

      #proBox .pro_03 > li:nth-child(2) > a {padding-top: 7.613469vw; /* 104/1366*100*/}
}