/* proBox1920.css */

@media screen and (min-width: 1367px) {

/* #proBox =================================== */
      #proBox a {padding-top: 10.416666vw; /* 200/1920*100 */}

  /* pro_01 ------------- */
  .pro_01 {height: 23.4375vw; /* 450/1920*100 */}

  /* pro_02 ------------- */
  .pro_02 {height: 23.4375vw; /* 450/1920*100 */}

  /* pro_03 ------------- */
  .pro_03 {height: 23.4375vw; /* 450/1920*100 */}

      #proBox .pro_03 > li:nth-child(2) > a {padding-top: 8.333333vw; /* 160/1920*100*/}

}