/* headBox.css */

/* #headBox ================================== */
#headBox {
  position: relative;
  position: fixed; top: 0; left: 0;
  z-index: 1000;
  width: 100%; height: 60px;
  background-color: rgba(7,76,67,0.9);}

#headBox:after {content: " "; display: block;
  position: absolute; top: 60px; left: 0;
  z-index: -100;
  width: 100%; height: 0; background-color: rgba(7,76,67,0.7);
  transition: height 500ms ease;}

#headBox.show:after {height: 334px;}

  /* logo -----------------*/
  h1 {
    margin-left: 40px;
    width: 260px; height: 100%;}
    
    h1 > a {
      display: block;
      margin: auto;
      width: 94%; height: 100%;
      background-image: url(../../../../img/tlj_main_web_img/headBox/logo.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;}

  /* gnbWrap ================ */

  #gnbWrap {
    /*position: relative;*/
    width: 100%; height: auto;}

    /* gnb_btn ---- */
    .gnb_btn {
      position: absolute; top: 0; right: 40px;
      width: 28px; height: 100%; /*background-color: #505;*/}

      .gnb_btn > button {width: 100%; height: 100%; padding: 0; /*background-color: #aff;*/}

        .menu_icon {
          display: block;
          width: 100%; height: 4px; background-color: #fff;
          position: relative; transition: all 500ms ease;}
        .menu_icon:before {
          content: " "; display: block;
          width: 100%; height: 4px; background-color: #fff;
          position: absolute; top: -10px;
          transition: all 500ms ease;}
        .menu_icon:after {
          content: " "; display: block;
          width: 100%; height: 4px; background-color: #fff;
          position: absolute; bottom: -10px;
          transition: all 500ms ease;}
      
        .gnb_btn > button.active .menu_icon {background-color: transparent;}
        .gnb_btn > button.active .menu_icon:before {
          margin-left: 3px;
          transform-origin: left top;
          width: 110%;
          transform: rotate(43deg);}
        .gnb_btn > button.active .menu_icon:after {
          margin-left: 3px;
          transform-origin: left bottom;
          width: 110%;
          transform: rotate(-43deg);}

    /* gnb ----------------- */
    #gnb {
      display: none;
      position: absolute; top: 0; left: 50%;
      margin-left: -410px;
      width: 830px; height: 100%;}

      #gnb > ul {
        width: 100%; height: 100%;}

        #gnb > ul > li {
          float: left;
          box-sizing: border-box;
          margin-right: 70px;
          width: 90px; height: 100%;}
        #gnb > ul > li:last-child {margin-right: 0;}
        #gnb > ul > li:nth-child(1) {width: 130px;}
        #gnb > ul > li:nth-child(3) {width: 140px;}

          #gnb > ul > li > a {
            display: block;
            width: 100%; height: 100%;
            text-align: center;
            line-height: 60px;
            font-weight: bold;
            font-size: 1.2rem;
            color: #fff;}
          #gnb > ul > li > a:hover,
          #gnb > ul > li > a:focus {border-bottom: 4px solid #fff; transition: all 280ms ease;}

            /* depth_2 ----- */
            .depth_2 {
              box-sizing: border-box; padding-top: 12px;
              display: none;
              width: auto; height: auto;}

              .depth_2 > li {
                padding-left: 10px;
                width: auto; height: auto;}

                .depth_2 > li > a {
                  position: relative;
                  display: inline-block;
                  box-sizing: border-box; padding: 4px 6px 4px 4px;
                  margin-bottom: 6px;
                  white-space: nowrap;
                  font-size: 1rem; color: #fff;}
                  
                .depth_2 > li > a:before{
                  content:" ";
                  display: inline-block; 
                  position: absolute; top: 0; left: -3px;
                  width: 3px; height:0; background-color: #fff;
                  transition:all 280ms ease;}

                .depth_2 > li > a:hover:before,
                .depth_2 > li > a:focus:before {height: 27px;}



















