/* snbBox1024.css */
/* 동영상 재생 안함 사진 대체 */

@media screen and (min-width: 48.0625rem) and (max-width: 64rem) {

/* #snbBox ================================== */
#snbBox {
  top: 540px;
  height: 3.125rem;
}
#snbBox.fixed {top: 3.125rem;}

  /* depth_3 */
    .depth_3 {
      margin-left: -257px;
      width: 514px;
    }

        .depth_3 > ul > li {
          margin-right: 50px;
          width: 100px;
        }
        .depth_3 > ul > li:nth-child(3) {width: 64px;}

          .depth_3 > ul > li > a {
            line-height: 3.125rem;
            font-size: 0.9rem;
          }

  /* site_map */
  .site_map {width: 0; height: 0; overflow: hidden;}

}