/* playBox1024.css */
/* 동영상 재생 안함 사진 대체 */

@media screen and (min-width: 769px) and (max-width: 1024px) {

/* #playBox ================================== */
#playBox {height: 46.484375vw; /* 476/1024*100 */}

  /* .add_banner 영역 ---- */
  .add_banner {display: block;}

}