/* playBox480.css */

@media screen and (max-width: 480px) {

/* #playBox ================================== */
#playBox {height: 352px; /* 352/768*100 */}

  /* .add_banner 영역 ---- */
  .banner {display: block;}

    .banner_wrap > div {background-size: cover;}
  
}