/* playBox768.css */

@media screen and (min-width: 481px) and (max-width: 768px) {

/* #playBox ================================== */
#playBox {height: 352px; /* 352/768*100 */}

  /* .add_banner 영역 ---- */
  .add_banner {display: block;}

    .add_banner > li {background-size: cover;}

}