/* cjBox.css */

/* #cjBox ==================================== */
#cjBox {width: 100%; height: auto; background-color: #ccc;}

  .family {margin: auto; width: 76.375rem; height: 100%;}

    .family > li {
      margin-right: 1.875rem;
      float: left;
      width: 5.625rem; height: 5rem;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }

    .family > li:nth-child(1)  {
      background-image: url("../../../../img/tlj_main_web_img/cjBox/cjfoodvill.png");
    }
    .family > li:nth-child(2)  {width: 4.375rem;
      background-image: url("../../../../img/tlj_main_web_img/cjBox/vips.png");
    }
    .family > li:nth-child(3)  {width: 5rem;
      background-image: url("../../../../img/tlj_main_web_img/cjBox/bibigo.png");
    }
    .family > li:nth-child(4)  {width: 5rem; background-position-y: 1.375rem;
      background-image: url("../../../../img/tlj_main_web_img/cjBox/theplace.png");
    }
    .family > li:nth-child(5)  {width: 6.625rem;
      background-image: url("../../../../img/tlj_main_web_img/cjBox/cheiljemyunso.png");
    }
    .family > li:nth-child(6)  {width: 4.5rem;
      background-image: url("../../../../img/tlj_main_web_img/cjBox/vipsbuger.png");
    }
    .family > li:nth-child(7)  {background-position-y: 0.75rem;
      background-image: url("../../../../img/tlj_main_web_img/cjBox/seasonstable.png");
    }
    .family > li:nth-child(8)  {width: 5.875rem;
      background-image: url("../../../../img/tlj_main_web_img/cjBox/ngrill.png");
    }
    .family > li:nth-child(9)  {width: 9rem; background-position-y: 1.875rem;
      background-image: url("../../../../img/tlj_main_web_img/cjBox/juicesolution.png");
    }
    .family > li:nth-child(10) {margin-right: 0; width: 7.875rem;
      background-image: url("../../../../img/tlj_main_web_img/cjBox/busantower.png");
    }