/* shopBox.css */

/* #shopBox ================================== */
#shopBox {
  padding: 100px 0;
  width: 100%; height: 450px;
  background-color: #fff;
}

  #shopBox > a {
    display: block;
    margin: auto;
    width: 900px; height: 100%;
  }

    #shopBox dl {
      box-sizing: border-box; padding: 90px 0;
      margin: auto;
      width: 700px; height: 100%;
      text-align: center;
      background-image: url(../../../../img/tlj_main_web_img/shopBox/shop_logo.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }

      #shopBox dt {
        font-size: 1.8rem; color: #074c43;
      }
      #shopBox dd {
        margin-top: 200px;
        font-size: 1.5rem; color: #074c43;
      }