/* playBox.css */

.content_area{
  position: relative; z-index: 200;
  width: 100%; height:100%;}

/* #playBox ================================== */
#playBox {
  /*margin-top: 46.865614%;*/
  position: relative; z-index: -100;
  width: 100%; height: 80%;}

  /* video 영역 ---- */
  #playBox > video {
    display: none;
    position: fixed; top: 50%; left: 50%;
    z-index: -100;
    overflow: hidden;
    width: auto; height: auto;
    min-width:100%; min-height: 100%;
    transform: translate(-50%, -50%);
    }

  /* banner 영역 ---- */
  .add_banner {
    display: none;
/*    position: fixed; top: 0; left: 0;
    z-index: 50;*/
    /*margin-top: 50px;*/
    overflow: hidden;
    width: 100%; height: 100%;}

    .add_banner > li {
      width: 100%; height: 100%;
      
      background-repeat: no-repeat;
      background-position: top;
      background-size: 110%;}

    .add_banner > li:nth-child(1) {
      background-image: url("../../../../img/tlj_main_web_img/playBox/banner01.jpg");
    }
    /*#bannerBox li:nth-child(2) {}*/
    /*#bannerBox li:nth-child(3) {}*/
