/* playBox.css */

.content_area{
  position: relative; z-index: 200;
  width: 100%; height:100%;
}

/* #playBox ================================== */
#playBox {
  /*margin-top: 46.865614%;*/
  position: relative; z-index: -100;
  width: 100%; height: 80%;
}

  /* video 영역 ---- */
  #playBox > video {
    display: none;
    position: fixed; top: 50%; left: 50%;
    z-index: -100;
    overflow: hidden;
    width: auto; height: auto;
    min-width:100%; min-height: 100%;
    transform: translate(-50%, -50%);
  }

  /* banner 영역 ---- */
  .banner {
    display: none;
    position: relative;
    width: 100%; height: 100%;
  }

    /* slide */
    .slide_btn{
      float: left;
      position: absolute; top: 50%; left: 0; 
      margin-top: -2rem;
      width: 100%; height: 0;
    }

      .slide_btn > button {
        float: left;
        cursor: pointer;
        width: 4rem; height: 4rem;
        color: #fff;
      }

      .slide_btn > button:last-of-type {float: right;}

        .slide_btn > button {font-size: 2.5rem; font-weight: bold;}
    
    /* indicator */
      .btn {
        position: absolute; bottom: 1rem; left: 50%;
        margin-left: -40px;
        z-index: 150;
        width: auto; height: auto;
      }

        .indicator {
          float:left;
          width: auto; height: auto;
        }

          .indicator > li {
            float: left;
            margin-right: 1rem;
            box-sizing: border-box;
            border: 0.125rem solid #fff;
            border-radius: 100%;
            width: 1rem; height: 1rem;
            background-color: inherit;
            }
          .indicator > li:last-child {margin-right: 0;}

          .indicator > li.active{background-color: #fff;}
    
    /* banner */
    .banner_box {
      overflow: hidden;
      width: 100%; height: 100%;
    }

      .banner_wrap {
        width: -webkit-calc(100% * 3);
        width: -moz-calc(100% * 3);
        width: -ms-calc(100% * 3);
        width: -o-calc(100% * 3);
        width: calc(100% * 3);
        height: 100%;
      }

        .banner_wrap > div {
          float: left;
          width: -webkit-calc(100% / 3);
          width: -moz-calc(100% / 3);
          width: -ms-calc(100% / 3);
          width: -o-calc(100% / 3);
          width: calc(100% / 3);
          height: 100%;
          background-repeat: no-repeat;
          background-position: top;
          background-size: cover;
        }

        .banner_01 {
          background-image: url("../../../../img/tlj_main_web_img/playBox/banner00.jpg");
        }
        .banner_02 {
          background-image: url("../../../../img/tlj_main_web_img/playBox/banner01_big.jpg");
        }
        .banner_03 {
          background-image: url("../../../../img/tlj_main_web_img/playBox/banner02_big.jpg");
        }






















