/* footBox768.css */

@media screen and (min-width: 30.0625rem) and (max-width: 48rem) {

/* #footBox ================================== */
#footBox {padding: 1.25rem 0;}

  .foot_wrap {width: 27rem;}

    /* fnb ----------- */
    .fnb > li {
      margin-right: 0.625rem;
      width: 3.375rem; height: 1.875rem;
    }

    .fnb > li:nth-child(5) {width: 6.625rem;}
    .fnb > li:nth-child(6) {width: 7.75rem;}

    .fnb > li:nth-child(1) {height: 0; overflow: hidden;}
    .fnb > li:nth-child(2) {height: 0; overflow: hidden;}
    .fnb > li:nth-child(4) {height: 0; overflow: hidden;}
    .fnb > li:nth-child(7) {height: 0; overflow: hidden;}

      .fnb a {line-height: 1.875rem; font-size: 0.875rem;}

    /* company_info --------- */
    .company_info {
      padding-left: 0.125rem;
      margin: 1.25rem 0;
    }

        .company_info > div > p{
          margin-right: 0.8rem;
          font-size: 0.75rem;
        }

        .company_info > div:nth-child(1) > p:nth-child(2) {margin-right: 0.625rem;}

    /* copyright ----------- */
    .copyright {
      padding-left: 0.125rem;
      font-size: 0.75rem;
    }

}