/* footBox480.css */

@media screen and (max-width: 30rem) {

/* #footBox ================================== */
#footBox {padding: 1.875rem 0;}

  .foot_wrap {width: 17.5rem;}/* 최소 디바이스 280으로 맞추기 */

    /* fnb ----------- */
    .fnb > li {height: 0; overflow: hidden;}

    /* company_info --------- */
    .company_info {margin: 0; height: 0; overflow: hidden;}

    /* copyright ----------- */
    .copyright {
      text-align: center;
      font-size: 0.75rem;
    }

}