/* footBox1366.css */

@media screen and (min-width: 64.0625rem) and (max-width: 85.375rem) {

/* #footBox ================================== */
#footBox {padding: 1.25rem 0;}

  .foot_wrap {width: 60.75rem;}

    /* fnb ----------- */
    .fnb > li {margin-right: 0.875rem;}

      .fnb a {font-size: 0.875rem;}

    /* company_info --------- */
    .company_info {margin: 1.25rem 0;}

        .company_info > div > p{
          margin-right: 1rem;
          font-size: 0.75rem;
        }

    /* copyright ----------- */
    .copyright {font-size: 0.75rem;}
    
}
