/* footBox480.css */

@media screen and (max-width: 480px) {

/* #footBox ================================== */
#footBox {padding: 30px 0;}

  .foot_wrap {width: 280px;}/* 최소 디바이스 280으로 맞추기 */

    /* fnb ----------- */
    .fnb > li {height: 0; overflow: hidden;}

    /* company_info --------- */
    .company_info {margin: 0; height: 0; overflow: hidden;}

    /* copyright ----------- */
    .copyright {
      text-align: center;
      font-size: 12px;}

}