/* footBox1024.css */
/* 동영상 재생 안함 사진 대체 */

@media screen and (min-width: 48.0625rem) and (max-width: 64rem) {

/* #footBox ================================== */
#footBox {padding: 1.25rem 0;}

  .foot_wrap {width: 44.875rem;}

    /* fnb ----------- */
    .fnb > li {
      margin-right: 0.625rem;
      width: 3.375rem; height: 1.875rem;
    }

    .fnb > li:nth-child(5) {width: 6.625rem;}
    .fnb > li:nth-child(6) {width: 7.75rem;}
    .fnb > li:nth-child(7) {width: 5.25rem;}

      .fnb a {line-height: 1.875rem; font-size: 0.875rem;}

    /* company_info --------- */
    .company_info {
      padding-left: 0.125rem;
      margin: 1.25rem 0;
    }

        .company_info > div > p{
          margin-right: 0.9rem;
          font-size: 0.75rem;
        }

    /* copyright ----------- */
    .copyright {
      padding-left: 0.125rem;
      font-size: 0.75rem;
    }

}