/* headBox1024.css */
/* 동영상 재생 안함 사진 대체 */

@media screen and (min-width: 769px) and (max-width: 1024px) {

/* #headBox ================================== */
#headBox {height: 50px;}

#headBox:after {display: none;}

#headBox.show:after {height: 0;}

  /* logo -----------------*/
  h1 {
    position: absolute; top: 0; left: 50%; margin-left: -90px;
    width: 180px;}

    /* gnb ----------------- */
    #gnb {
      display: none;
      top: 50px; right: 0; left:auto; margin-left:none;
      width: 30%; height: auto; background-color: rgba(7,76,67,0.9);}

      #gnb > ul {
        width: 100%; height: auto;}

        #gnb > ul > li {
          float: none;
          margin-right: 0;
          width: 100%;
          padding-left: 20px;}
        #gnb > ul > li:nth-child(1) {width: 100%;}
        #gnb > ul > li:nth-child(3) {width: 100%;}

          #gnb > ul > li > a {text-align: left;}

}