/* headBox1024.css */
/* 동영상 재생 안함 사진 대체 */

@media screen and (min-width: 48.0625rem) and (max-width: 64rem) {

/* #headBox ================================== */
#headBox {height: 3.125rem;}

#headBox:after {display: none;}

#headBox.show:after {height: 0;}

  /* logo -----------------*/
  h1 {
    position: absolute; top: 0; left: 50%;
    margin-left: -5.625rem;
    width: 11.25rem;
  }

    /* gnb ----------------- */
    #gnb {
      display: none;
      top: 3.125rem; right: 0; left:auto;
      margin-left:none;
      width: 30%; height: auto;
      background-color: rgba(7,76,67,0.9);
    }

      #gnb > ul {width: 100%; height: auto;}

        #gnb > ul > li {
          float: none;
          margin-right: 0;
          width: 100%;
          padding-left: 1.25rem;
        }

        #gnb > ul > li:nth-child(1) {width: 100%;}
        #gnb > ul > li:nth-child(3) {width: 100%;}

          #gnb > ul > li > a {text-align: left;}

}