/* snbBox.css */

/* #snbBox ================================== */
#snbBox {
  position: relative;
  position: absolute; top: 720px; left: 0;
  width: 100%; height: 60px;
  background-color: rgba(44,44,44,0.75);
  /*background-color: rgba(55,41,25,0.75);*/
}
#snbBox.fixed {
  position: fixed; top: 60px;
  z-index: 500;
  }

  /* depth_3 */
  .depth_3 {
    position: absolute; top: 0; left: 50%;
    margin-left: -25.625rem;
    width: 830px; height: 100%;
  }

    .depth_3 > ul {width: 100%; height: 100%;}

      .depth_3 > ul > li {
        float: left;
        margin-right: 30px;
        width: 130px; height: 100%;
      }
      .depth_3 > ul > li:last-child {margin-right: 0;}
      .depth_3 > ul > li:nth-child(3) {width: 100px;}

        .depth_3 > ul > li > a {
          display: block;
          width: 100%; height: 100%;
          text-align: center;
          line-height: 3.75rem;
          font-size: 1rem;
          color: #fff;
        }

  /* site_map */
  .site_map {
    position: absolute; top: 0; left: 0;
    margin-left: 2.5rem;
    width: 16.25rem; height: 100%;
  }

    .site_map > ul {width: 100%; height: 100%;}

      .site_map > ul > li {
        float: left;
        width: 50px; height: 100%;
        margin-right: 20px;
      }
      .site_map > ul > li:nth-child(2) {width: 60px;}
      .site_map > ul > li:last-child {
        margin-right: 0;
        width: 80px;
      }

        .site_map > ul > li > a {
          display: block;
          width: 100%; height: 100%;
          text-align: center;
          line-height: 3.75rem;
          text-transform: capitalize;
          font-size: 0.8rem;
          color: #fff;
        }






























